<h1> Chitter </h1>

<% if current_user %>
	
	Welcome, <%= @current_user.name %>
	
	<div id='create_peep'>
		<form action='/peep' method='post'> 
			Post: <input type='text' name='post'>
			<input type='submit' value='Peep!'>
		</form>
	</div>

<% else %>

	<h3> <a href='/users/new'>Sign up</a> and start posting!</h3>
	<h4> Already a member? Then <a href="/sessions/new"> Sign in</a></h4>

<% end %>
